<table *ngIf="employees">
  <thead>
    <tr>
      <th attr.colspan="{{ columnSpan }}">Employee Details</th>
    </tr>
  </thead>
  <tr>
    <td>Code</td>
    <td>{{ employees.code }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ employees.name }}</td>
  </tr>

  <tr>
    <td>Gender</td>
    <td>{{ employees.gender }}</td>
  </tr>
  <tr>
    <td>Annual Salary</td>
    <td>{{ employees.annualSalary }}</td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td>{{ employees.dateOfBirth }}</td>
  </tr>
</table>
<div *ngIf="!employees">
  {{ statusMessage }}
</div>
